.card.post{

  height: 250px;

  img{


    height: 250px;
  }

  .categories{

    width: 100%;

    .category{

      font-size: 14px;
      color:white;
      border-radius: 3px;
    }
  }


  .links{

    width: 100%;
  }


}
